* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #FFFFFF;
    --lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

/* Start of body */
body {
    padding: 50px;
    width: 100vw;
    height: 100vh;
}

/* End of body */

header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    color: blueviolet;
    height: 60px;
    font-size: 2vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 100%;
    font-family: var(--lucida);
}
 
.btn-header {
    border-radius: 10px;
    background-color: teal;
    text-decoration: none;
    border: 0;
    outline: 0;
    color: blueviolet;
    font-family: var(--lucida);
    font-size: 22px;
    font-size: 2vw;;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: teal;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#chl-msg {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 4vw;;
}

#question-container {
    padding-top: 70px;
}

#question {
    display: flex;
    background-color: darkblue; 
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

#question-rule {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    font-size: 3vw;;
}

.btn-grid {
    display: grid;
    grid-template-areas: repeat(3, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border-radius: 1px solid red;
    background-color: darkblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.time-count {
    border-radius: 1px solid red;
    background-color: darkblue;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}


.btn:hover {
    border-color: orange;
    background-color: darkorchid;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 10px;
}

.high-score-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputcontrols {
    display: flex;
    justify-content: center;
    align-items: center;
}